.feature {
  background: rgba(54, 149, 119, 0.03);
  padding-top: 2rem;
  padding-bottom: 2rem;
  h2 {
    margin-top: 0 !important;
  }
  &__logo {
    width: 100%;
    flex-wrap: wrap;
    div {
      &:not(:first-child),
      &:not(:last-child) {
        padding: 0.625rem;
      }
      &:first-child {
        padding: 0, 0.625rem, 0.625rem, 0.625rem;
      }
      &:last-child {
        padding: 0.625rem, 0.625rem, 0.625rem, 0;
      }
      @include breakpoint-down(medium) {
        width: 50%;
      }
      @include breakpoint-up(large) {
        width: 11%;
      }
      img {
        width: 100%;
        object-fit: inherit;
        @include breakpoint-down(medium) {
          height: 2.5rem;
        }
        // @include breakpoint-up(large) {
        //   width: 11%;
        // }
      }
    }
  }
}
