html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: $lato;
  font-size: $font-large;
  color: $primary-color;
  overflow-x: hidden;
  background: $background;
  &.noscroll {
    overflow: hidden;
  }
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-js-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
  &-50 {
    flex: 1;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $primary-color;
}

.button {
  display: inline-block;
  border-radius: 5px;
  background-color: $light-blue;
  color: $white !important;
  padding: 0.75rem 1.5rem;
  border: 0 transparent;
  outline: none;
  font-size: $font-medium;
  cursor: pointer;

  &:focus {
    border: 0 transparent;
    outline: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.container {
  @include breakpoint-down(medium) {
    padding: $padding-mobile;
  }
  @include breakpoint-up(large) {
    padding: $padding-web;
  }
}
h1 {
  font-family: $open-sans;
  font-weight:800;
  @include breakpoint-down(medium) {
    font-size: 1.5rem;
    line-height: 2.01rem;
  }
  @include breakpoint-up(large) {
    font-size: 2.5rem;
    line-height: 3.35rem;
  }
}
h2 {
  color: $light-blue;
  font-family: $open-sans;
  @include breakpoint-down(medium) {
    font-size: 1.25rem;
    line-height: 1.8125rem;
    margin: 0.75rem 0;
  }
  @include breakpoint-up(large) {
    font-size: 1.5rem;
    line-height: 2.175rem;
    margin: 1.0625rem 0;
  }
}
p {
  line-height: 1.5625rem;
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.position {
  &__absolute {
    position: absolute;
  }
}
.p-tb {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.m-t {
  margin-top: 0.9375rem;
}
.m-b {
  margin-bottom: 0.9375rem;
}
.image-padding {
  padding: 5rem;
}
