.service {
  position: relative;
  &::before {
    content: "";
    background-image: url("/images/shapes/line-orange-circle.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 19.8125rem;
    position: absolute;
    bottom: 33%;
    left: -32%;
    z-index: -30;
    width: 100%;
    height: 100%;
    opacity: 0.49;
    @include breakpoint-up(large) {
      background-position: center left;
      background-size: 19.8125rem;
      top: 13%;
      left: 31%;
    }
  }
  &__flex {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:last-child {
        .service__image {
          order: 2;
        }
        .service__text {
          order: 1;
        }
      }
    }
  }

  &__heading {
    font-weight: bold;
    margin: 0;
  }
  &__image {
    width: 100%;
    @include breakpoint-down(medium) {
      //   min-height: 21.1875rem;
    }
    @include breakpoint-up(large) {
      //   min-height: 39rem;
      width: 40%;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__text {
    @include breakpoint-up(large) {
      //   min-height: 39rem;
      width: 53%;
    }
  }
}
