.shapes {
  position: absolute;
  z-index: -10;
  width: 90%;
  height: 100%;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    height: 44px;
    img {
      width: 100%;
    }
  }

  // intro shapes classes on index

  &__intro {
    li:first-child {
      top: 10%;
      left: 30%;
      width: 1.875rem;
      @include breakpoint-up(large) {
        top: 24.97%;
        left: 10%;
      }
    }
    li:nth-child(2) {
      display: none;
      top: 4%;
      left: 0%;
      width: 2.8125rem;
      opacity: 0.84;
      @include breakpoint-up(large) {
        display: block;
        top: 27%;
        left: 55%;
      }
    }
    li:nth-child(3) {
      display: none;
      top: 74.24%;
      right: 4%;
      width: 2.125rem;
      @include breakpoint-up(large) {
        display: block;
        top: 50.24%;
        right: 10%;
      }
    }
    li:nth-child(4) {
      top: 9.18%;
      right: 7%;
      width: 1.5625rem;
      @include breakpoint-up(large) {
        top: 27%;
      }
    }
  }

  // about shapes design (index page)

  &__about {
    li:first-child {
      display: none;
      top: 73%;
      right: 5%;
      width: 2.125rem;
      @include breakpoint-up(large) {
        display: block;
        top: 16%;
      }
    }
    li:nth-child(2) {
      top: 73%;
      right: 5%;
      width: 2.125rem;
      @include breakpoint-up(large) {
        top: 65%;
      }
    }
    li:nth-child(3) {
      top: 91%;
      right: 20%;
      width: 2.8125rem;
      @include breakpoint-up(large) {
        bottom: 10%;
        right: 25%;
      }
    }
  }

  // services shapes design (index page)
  &__services {
    li:first-child {
      display: none;
      top: 3%;
      right: 5%;
      width: 2.125rem;
      @include breakpoint-up(large) {
        display: block;
        top: 24%;
      }
    }
    li:nth-child(2) {
      top: 40%;
      right: -8%;
      width: 2.125rem;
      @include breakpoint-up(large) {
        top: 40%;
        right: 24%;
      }
    }
    li:nth-child(3) {
      display: none;
      top: 50%;
      left: 5%;
      width: 2.125rem;
      @include breakpoint-up(large) {
        display: block;
        top: 62%;
        left: 11%;
      }
    }
    li:last-child {
      display: none;
      top: 91%;
      right: 20%;
      width: 2.125rem;
      @include breakpoint-up(large) {
        display: block;
        bottom: 10%;
        left: 25%;
      }
    }
  }

  // contact shape design (index page)
  &__contact {
    li:first-child {
      display: none;
      @include breakpoint-up(large) {
        display: block;
        top: 20%;
      }
    }
    li:last-child {
      display: none;
      @include breakpoint-up(large) {
        display: block;
        top: 30%;
        left: 20%;
      }
    }
  }
}
