$open-sans: "Open Sans", sans-serif;
$lato: "Lato", sans-serif;

$primary-color: #29335c;
$light-blue: #1f84de;
$dark-blue: #141414;
$orange: #f3a712;
$gold: #d9a528;
$purple: #87259f;
$white: #ffffff;
$green: #369577;
$background: rgba(229, 229, 229, 0.03);
$font-medium: 1rem;
$font-large: 1.0625rem;

$padding-mobile: 0 1.25rem;
$padding-web: 0 7.5rem;

$image-padding: 4rem;
