.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #29335c;
  overflow-x: hidden;
  background: rgba(229, 229, 229, 0.03);
}

body.noscroll {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-js-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-50 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #29335c;
}

.button {
  display: inline-block;
  border-radius: 5px;
  background-color: #1f84de;
  color: #ffffff !important;
  padding: 0.75rem 1.5rem;
  border: 0 transparent;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.button:focus {
  border: 0 transparent;
  outline: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .container {
    padding: 0 1.25rem;
  }
}

@media (min-width: 64em) {
  .container {
    padding: 0 7.5rem;
  }
}

h1 {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 63.9375em) {
  h1 {
    font-size: 1.5rem;
    line-height: 2.01rem;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.35rem;
  }
}

h2 {
  color: #1f84de;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 63.9375em) {
  h2 {
    font-size: 1.25rem;
    line-height: 1.8125rem;
    margin: 0.75rem 0;
  }
}

@media (min-width: 64em) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.175rem;
    margin: 1.0625rem 0;
  }
}

p {
  line-height: 1.5625rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.position__absolute {
  position: absolute;
}

.p-tb {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.m-t {
  margin-top: 0.9375rem;
}

.m-b {
  margin-bottom: 0.9375rem;
}

.image-padding {
  padding: 5rem;
}

.header {
  width: 100%;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#141414));
  background: linear-gradient(transparent, #141414);
  z-index: 2;
}

.header nav {
  position: relative;
  z-index: 1;
}

@media (max-width: 63.9375em) {
  .header nav {
    padding: 2.625rem 0;
  }
}

@media (min-width: 64em) {
  .header nav {
    padding: 1.875rem 0;
  }
}

.header__logo img {
  width: 5rem;
  height: 3.4375rem;
}

.header__toggle > span {
  display: block;
  background-color: #141414;
  width: 26px;
  height: 2px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links a:not(:last-child) {
  margin-right: 2.5rem;
}

.header__button:hover {
  color: #ffffff;
}

.header__menu {
  background: #fff;
  padding: 1.625rem;
  border-radius: 3px;
  position: absolute;
  margin: 0 auto;
  z-index: 3;
}

@media (max-width: 63.9375em) {
  .header__menu {
    width: calc(100% - 2.5rem);
  }
}

@media (min-width: 64em) {
  .header__menu {
    width: calc(100% - 15rem);
  }
}

.header__menu > a {
  display: block;
  text-align: center;
  padding: 0.625rem;
}

.intro {
  background: rgba(54, 149, 119, 0.05);
  padding-top: 8rem;
  padding-bottom: 3rem;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.intro::after {
  content: "";
}

@media (min-width: 64em) {
  .intro::after {
    background-image: url("/images/shapes/halfline-circle-orange.svg");
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -30;
    width: 100%;
    height: 100%;
    opacity: 0.29;
  }
}

@media (min-width: 64em) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 64em) {
  .intro__container {
    padding: 0 7.5rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
}

.intro__text {
  position: relative;
}

.intro__text::before {
  content: "";
  background-image: url("/images/shapes/line-blue-circle.svg");
  background-repeat: no-repeat;
  background-position: center right;
  position: absolute;
  top: 43%;
  right: 0;
  z-index: -30;
  width: 100%;
  height: 100%;
  opacity: 0.34;
}

@media (min-width: 64em) {
  .intro__text::before {
    background-position: top right;
    top: -7%;
    right: 9%;
  }
}

@media (max-width: 63.9375em) {
  .intro__text {
    padding: 0 1.25rem;
    margin-bottom: 30px;
  }
}

@media (min-width: 64em) {
  .intro__text {
    width: 43.8125rem;
  }
  .intro__text p {
    width: 27.5rem;
  }
}

.intro__image {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.intro__image::before {
  content: "";
  background-image: url("/images/shapes/line-orange-circle.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 9rem;
  position: absolute;
  bottom: -20%;
  left: -20%;
  z-index: -30;
  width: 100%;
  height: 100%;
  opacity: 0.29;
}

@media (min-width: 64em) {
  .intro__image::before {
    background-position: center left;
    background-size: 13rem;
    top: 5%;
    left: -10%;
  }
}

@media (max-width: 63.9375em) {
  .intro__image {
    background-image: url("/images/header-image-mobile.svg");
    min-height: 23.25rem;
    background-position: 0 -12px;
  }
}

@media (min-width: 64em) {
  .intro__image {
    background-image: url("/images/header-image-web.svg");
    min-height: 31.25rem;
    width: 31.25rem;
    background-position: center, center;
  }
}

.about {
  position: relative;
}

.about::before {
  content: "";
  background-image: url("/images/shapes/line-orange-circle.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 19.8125rem;
  position: absolute;
  bottom: -2%;
  right: -15%;
  z-index: -30;
  width: 100%;
  height: 100%;
  opacity: 0.49;
}

@media (min-width: 64em) {
  .about::before {
    background-position: bottom right;
    background-size: 16rem;
    bottom: 2%;
    right: 10%;
  }
}

@media (min-width: 64em) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__heading {
  font-weight: bold;
  margin: 0;
}

.about__image {
  width: 100%;
}

@media (min-width: 64em) {
  .about__image {
    width: 45%;
  }
}

.about__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 64em) {
  .about__text {
    width: 55%;
  }
}

.about__text ul {
  padding-left: 0;
}

.about__text ul li {
  list-style-type: none;
  position: relative;
  margin: 1.875rem 0;
}

.about__text ul li span {
  margin-left: 3.125rem;
}

.about__text ul li:first-child::before {
  background-color: #369577;
}

.about__text ul li:nth-child(2)::before {
  background-color: #1f84de;
}

.about__text ul li:last-child::before {
  background-color: #f3a712;
}

.about__text ul li::before {
  content: "";
  position: absolute;
  top: -0.625rem;
  bottom: 0;
  width: 2.125rem;
  height: 2.5rem;
  border-radius: 6px 0;
}

.about__page h1 {
  color: #1f84de;
}

@media (min-width: 64em) {
  .about__page .about_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about__page .about_flex .profile__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__page .about_flex .profile__text {
    width: 60%;
  }
  .about__page .about_flex .approach__text, .about__page .about_flex .approach__image {
    width: 30%;
  }
  .about__page .about_flex .approach__text div:first-child {
    margin-bottom: 4rem;
  }
}

.about__page .about_flex .approach__image img,
.about__page .about_flex .profile__image img {
  width: 100%;
}

.service {
  position: relative;
}

.service::before {
  content: "";
  background-image: url("/images/shapes/line-orange-circle.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 19.8125rem;
  position: absolute;
  bottom: 33%;
  left: -32%;
  z-index: -30;
  width: 100%;
  height: 100%;
  opacity: 0.49;
}

@media (min-width: 64em) {
  .service::before {
    background-position: center left;
    background-size: 19.8125rem;
    top: 13%;
    left: 31%;
  }
}

@media (min-width: 64em) {
  .service__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__flex:last-child .service__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .service__flex:last-child .service__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.service__heading {
  font-weight: bold;
  margin: 0;
}

.service__image {
  width: 100%;
}

@media (min-width: 64em) {
  .service__image {
    width: 40%;
  }
}

.service__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 64em) {
  .service__text {
    width: 53%;
  }
}

.codegarrage {
  background: #141414;
  padding-bottom: 1.625rem;
}

.codegarrage__intro {
  margin-bottom: 3.5rem;
}

@media (min-width: 64em) {
  .codegarrage__intro {
    padding-top: 1.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.codegarrage__image {
  width: 100%;
}

@media (min-width: 64em) {
  .codegarrage__image {
    width: 30%;
  }
}

.codegarrage__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 64em) {
  .codegarrage__text {
    width: 50%;
  }
}

.codegarrage__text p {
  color: #ffffff;
}

.codegarrage__text p:first-child {
  color: #f3a712;
  font-weight: 700;
}

@media (max-width: 63.9375em) {
  .codegarrage__text p:first-child {
    font-size: 1rem;
  }
}

@media (min-width: 64em) {
  .codegarrage__text p:first-child {
    font-size: 1.25rem;
  }
}

.codegarrage__text h2 {
  color: #ffffff;
}

@media (min-width: 64em) {
  .codegarrage__text h2 {
    font-size: 2rem;
  }
}

.codegarrage__button {
  background-color: #f3a712;
}

.codegarrage__feature p {
  color: #f3a712;
  font-weight: 600;
  margin-bottom: 0;
}

.codegarrage__feature h2 {
  margin-top: 0;
}

.codegarrage__feature__parent div {
  border-radius: 10px;
  text-align: center;
  padding: 2.875rem;
  margin-bottom: 1.625rem;
}

.codegarrage__feature__parent div h5 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.codegarrage__feature__parent div p {
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  margin-top: 5px;
}

.codegarrage__feature__parent div:first-child {
  background: #87259f;
}

.codegarrage__feature__parent div:nth-child(2) {
  background: #1f84de;
}

.codegarrage__feature__parent div:last-child {
  background: #f3a712;
}

@media (max-width: 63.9375em) {
  .codegarrage__feature__parent div {
    width: 100%;
  }
}

@media (min-width: 64em) {
  .codegarrage__feature__parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .codegarrage__feature__parent div {
    width: 32%;
  }
}

.feature {
  background: rgba(54, 149, 119, 0.03);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.feature h2 {
  margin-top: 0 !important;
}

.feature__logo {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__logo div:not(:first-child), .feature__logo div:not(:last-child) {
  padding: 0.625rem;
}

.feature__logo div:first-child {
  padding: 0, 0.625rem, 0.625rem, 0.625rem;
}

.feature__logo div:last-child {
  padding: 0.625rem, 0.625rem, 0.625rem, 0;
}

@media (max-width: 63.9375em) {
  .feature__logo div {
    width: 50%;
  }
}

@media (min-width: 64em) {
  .feature__logo div {
    width: 11%;
  }
}

.feature__logo div img {
  width: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

@media (max-width: 63.9375em) {
  .feature__logo div img {
    height: 2.5rem;
  }
}

footer {
  background: #141414;
  padding-top: 4.125rem !important;
  padding-bottom: 4.125rem !important;
  color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

footer div:not(:first-child) {
  font-family: "Open Sans", sans-serif;
}

footer div:not(:first-child) p {
  font-weight: 600;
}

@media (max-width: 63.9375em) {
  footer div {
    width: 100%;
  }
  footer div:nth-child(2), footer div:nth-child(3) {
    width: 50%;
  }
}

@media (min-width: 64em) {
  footer div {
    width: 30%;
  }
  footer div:not(:first-child) {
    width: 20%;
  }
}

footer div ul {
  padding-left: 0;
}

footer div ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}

footer div ul li a, footer div ul li a:visited, footer div ul li a:hover {
  color: white;
}

.contact__intro {
  margin-bottom: 4rem;
}

@media (min-width: 64em) {
  .contact__intro {
    width: 55%;
  }
}

.contact__intro h1 {
  color: #1f84de;
}

@media (min-width: 64em) {
  .contact__summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__summary .half-width:first-child {
    width: 60%;
  }
  .contact__summary .half-width:last-child {
    width: 40%;
  }
}

.contact__summary p:first-child {
  color: #1f84de;
  font-weight: bold;
  margin-bottom: 0;
}

.contact__summary p:last-child {
  margin-top: 0.5rem;
}

.contact__summary .full-input {
  margin-bottom: 2rem;
  width: 100%;
}

.contact__summary .full-input label {
  display: block;
  margin-bottom: 0.75rem;
}

.contact__summary .full-input input[type="text"],
.contact__summary .full-input textarea {
  outline: none;
  border: 1px solid rgba(31, 132, 222, 0.3);
  border-radius: 0.3125rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.contact__summary .full-input input[type="text"] {
  height: 2.5rem;
}

@media (max-width: 63.9375em) {
  .contact__card {
    margin-top: 1.875rem;
  }
}

@media (min-width: 64em) {
  .contact__card {
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
    -webkit-box-shadow: 0px, 4px rgba(54, 149, 119, 0.04);
            box-shadow: 0px, 4px rgba(54, 149, 119, 0.04);
  }
}

.shapes {
  position: absolute;
  z-index: -10;
  width: 90%;
  height: 100%;
}

.shapes li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  height: 44px;
}

.shapes li img {
  width: 100%;
}

.shapes__intro li:first-child {
  top: 10%;
  left: 30%;
  width: 1.875rem;
}

@media (min-width: 64em) {
  .shapes__intro li:first-child {
    top: 24.97%;
    left: 10%;
  }
}

.shapes__intro li:nth-child(2) {
  display: none;
  top: 4%;
  left: 0%;
  width: 2.8125rem;
  opacity: 0.84;
}

@media (min-width: 64em) {
  .shapes__intro li:nth-child(2) {
    display: block;
    top: 27%;
    left: 55%;
  }
}

.shapes__intro li:nth-child(3) {
  display: none;
  top: 74.24%;
  right: 4%;
  width: 2.125rem;
}

@media (min-width: 64em) {
  .shapes__intro li:nth-child(3) {
    display: block;
    top: 50.24%;
    right: 10%;
  }
}

.shapes__intro li:nth-child(4) {
  top: 9.18%;
  right: 7%;
  width: 1.5625rem;
}

@media (min-width: 64em) {
  .shapes__intro li:nth-child(4) {
    top: 27%;
  }
}

.shapes__about li:first-child {
  display: none;
  top: 73%;
  right: 5%;
  width: 2.125rem;
}

@media (min-width: 64em) {
  .shapes__about li:first-child {
    display: block;
    top: 16%;
  }
}

.shapes__about li:nth-child(2) {
  top: 73%;
  right: 5%;
  width: 2.125rem;
}

@media (min-width: 64em) {
  .shapes__about li:nth-child(2) {
    top: 65%;
  }
}

.shapes__about li:nth-child(3) {
  top: 91%;
  right: 20%;
  width: 2.8125rem;
}

@media (min-width: 64em) {
  .shapes__about li:nth-child(3) {
    bottom: 10%;
    right: 25%;
  }
}

.shapes__services li:first-child {
  display: none;
  top: 3%;
  right: 5%;
  width: 2.125rem;
}

@media (min-width: 64em) {
  .shapes__services li:first-child {
    display: block;
    top: 24%;
  }
}

.shapes__services li:nth-child(2) {
  top: 40%;
  right: -8%;
  width: 2.125rem;
}

@media (min-width: 64em) {
  .shapes__services li:nth-child(2) {
    top: 40%;
    right: 24%;
  }
}

.shapes__services li:nth-child(3) {
  display: none;
  top: 50%;
  left: 5%;
  width: 2.125rem;
}

@media (min-width: 64em) {
  .shapes__services li:nth-child(3) {
    display: block;
    top: 62%;
    left: 11%;
  }
}

.shapes__services li:last-child {
  display: none;
  top: 91%;
  right: 20%;
  width: 2.125rem;
}

@media (min-width: 64em) {
  .shapes__services li:last-child {
    display: block;
    bottom: 10%;
    left: 25%;
  }
}

.shapes__contact li:first-child {
  display: none;
}

@media (min-width: 64em) {
  .shapes__contact li:first-child {
    display: block;
    top: 20%;
  }
}

.shapes__contact li:last-child {
  display: none;
}

@media (min-width: 64em) {
  .shapes__contact li:last-child {
    display: block;
    top: 30%;
    left: 20%;
  }
}

.contact__summary {
  position: relative;
}

.contact__summary::before {
  content: "";
  background-image: url("/images/shapes/line-blue-circle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 19.8125rem;
  position: absolute;
  top: 12%;
  left: -64%;
  z-index: -30;
  width: 100%;
  height: 100%;
  opacity: 0.08;
}

@media (min-width: 64em) {
  .contact__summary::before {
    display: block;
    background-position: top right;
    top: -7%;
    left: -10%;
  }
}

@media (min-width: 64em) {
  .contact__summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact__summary__heading {
  font-weight: bold;
  margin: 0;
}

.contact__summary__image {
  width: 100%;
}

@media (min-width: 64em) {
  .contact__summary__image {
    width: 45%;
  }
}

.contact__summary__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 64em) {
  .contact__summary__text {
    width: 55%;
  }
}

.contact__summary__text ul {
  padding-left: 0;
}

.contact__summary__text ul li {
  list-style-type: none;
  position: relative;
  margin: 1.875rem 0;
}

.contact__summary__text ul li span {
  margin-left: 3.125rem;
}

.contact__summary__text ul li:first-child::before {
  background-color: #369577;
}

.contact__summary__text ul li:nth-child(2)::before {
  background-color: #1f84de;
}

.contact__summary__text ul li:last-child::before {
  background-color: #f3a712;
}

.contact__summary__text ul li::before {
  content: "";
  position: absolute;
  top: -0.625rem;
  bottom: 0;
  width: 2.125rem;
  height: 2.5rem;
  border-radius: 6px 0;
}
/*# sourceMappingURL=main.css.map */